.bg-blur
    .state-wrap
        span.back-but(icon-down ui-sref="root.portfolio")
        div(ng-if="vc.showbut")
            span.arr-down(icon-down)

        div.work__header

            div(layout="column" layout-gt-xs="row")

                div(flex="55")
                    .page-name.page-name_nom UTMC

                    a.project-link.project-link_dist(
                        href="https://bekitzur.com/project/labor-insurance-claims-processing-system/"
                        target="_blank"
                        ) description

                    img.mob-view-imac(src="/images/utmc_imac.png" alt="")

                    .text-block.text-block_right.text-block_bottom
                        .text-block__desc
                            | Unemployment Tax Management Corporation (UTMC) is a company that handles the
                            | communications of its clients with state unemployment compensation offices with in order to
                            | keep its clients’ employment taxes as low as possible.
                            | The system captures information from client companies about employment terminations
                            | and then allows or protests the Benefit Charges within legally
                            | plausible time frames.The system introduced the integration with USA Department of
                            | Labor State Information Data Exchange System (SIDES).

                    .text-block.text-block_right.text-block_bottom
                        .text-block__title Role
                        .text-block__desc Frontend developer

                    .text-block.text-block_right.text-block_bottom
                        .text-block__title When
                        .text-block__desc 2017

                    .text-block.text-block_right.text-block_last
                        .text-block__title Technologies
                        .text-block__desc
                            div Angular 4 / RxJS / Javascript / PUG / SCSS / Webpack
                            div Java / Jaxb / Spring / PostgreSQL

                div.hide-xs(flex="45")
                    .work__header__image
                        img(src="/images/utmc_imac.png" alt="")

            .devices
                .devices__item.devices__item_macbook
                    img(src="/images/utmc_macbook.png" alt="")
                .devices__item.devices__item_ipad
                    img(src="/images/utmc_ipad.png" alt="")
                .devices__item.devices__item_iphone
                    img(src="/images/utmc_iphone.png" alt="")

        div.screens-wrap
            div.screens.clearfix
                div.screens__item(
                ng-repeat="item in vc.screens track by $index"
                ng-click="vc.showScreen($event, $index)"
                )
                    img.screens__item__img.md-whiteframe-3dp(ng-src="{{ item }}")

        scroll-top