md-dialog(aria-label="Info")

    md-toolbar
        .md-toolbar-tools
            h2 Reset password
            span(flex)
            icon-close.m-close(ng-click="vc.cancel()")

    md-dialog-content
        form.md-dialog-content.password-dialog(name="forgotPassworForm")
            div(layout="row")
                .flex-in(flex="30" layout="row" layout-align="start center") Enter your email
                .flex-in(flex)
                    input.form-control(
                    placeholder="Email"
                    type="email"
                    ng-model="vc.data.email"
                    name="mail"
                    required
                    )
            div(layout="row")
                .flex-in(flex)
                    .modal-form-info A letter with instructions on password recovery will be sent to this address.

    md-dialog-actions(layout="row")
        md-button(ng-click="vc.cancel()") Cancel
        md-button(ng-click="vc.confirm()" ng-if="forgotPassworForm.$valid") Send
