$light = #e0e0e0
$blue = #303F4D
$yellow = #F3C58F
// $red = #B64E43
// $green = #6A847A
$lightgreen = #B0BFA0
$beige = #D5CEC1
$red = #af4853
$darkred = #8a323b
$green = #2f7772
$darkgreen = #1e4e4b
$lightgreen = #398a84

// --------------------
$green = #64b9b8
$darkgreen = #27aa96


