/* font-family: "OpenSans-Regular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaNeueMedium"; */
@font-face {
    font-family: "HelveticaNeueMedium";
    src: url("../fonts/HelveticaNeueCyr-Medium.eot");
    src: url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaNeueRoman"; */
@font-face {
    font-family: "HelveticaNeueRoman";
    src: url("../fonts/HelveticaNeueCyr-Roman.eot");
    src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaNeueLight"; */
@font-face {
    font-family: "HelveticaNeueLight";
    src: url("../fonts/HelveticaNeueCyr-Light.eot");
    src: url("../fonts/HelveticaNeueCyr-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MissionScript"; */
@font-face {
    font-family: "MissionScript";
    src: url("../fonts/MissionScript.eot");
    src: url("../fonts/MissionScript.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MissionScript.woff") format("woff"),
    url("../fonts/MissionScript.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight.eot");
    src: url("../fonts/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold.eot");
    src: url("../fonts/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

