@import '../../styles/config.styl'

.contact
	display block
	text-decoration none
	position relative
	// color #344e5a
	color #586971
	font-family HelveticaNeueLight, Helvetica, sans-serif
	font-size 20px
	padding 5px 5px 5px 50px
	margin-bottom 10px
	cursor pointer
	
	&:hover
		color $red
		.contact__icon
			fill $red
	
	&_phone
		font-size 19px
			
	&__icon
		position absolute
		left 0
		top 5px
		width 22px
		height 22px
		fill #586971
		
		&_phone
			width 24px
			height 24px
			
		&_skype
			width 24px
			height 24px
			
.contact-wrap
	margin-bottom 60px