.bg-blur
    .state-wrap
        span.back-but(icon-down ui-sref="root.portfolio")
        div(ng-if="vc.showbut")
            span.arr-down(icon-down)

        div.work__header

            div(layout="column" layout-gt-xs="row")
                div(flex="55")
                    .page-name.page-name_nom Runative

                    a.project-link.project-link_dist(href="http://runative.com/" target="_blank") www.runative.com

                    img.mob-view-imac(src="/images/runative_imac.png" alt="")

                    .text-block.text-block_right.text-block_bottom
                        .text-block__desc System provide the different solution for publishers, for advertisers and for internet marketers. All publishers get to decide what type of ads they want to run out of a extensive and comprehensive choice of categories. Platform offer advertisers a market place, meaning they can chose the publishers that are the most suited to their campaign.

                    .text-block.text-block_right.text-block_bottom
                        .text-block__title When
                        .text-block__desc 2019

                    .text-block.text-block_right.text-block_bottom
                        .text-block__title Role
                        .text-block__desc Frontend developer

                    .text-block.text-block_right.text-block_last
                        .text-block__title Technologies
                        .text-block__desc
                            div Angular / SCSS / Gulp
                            div GO / Python / Django / PostgreSQL / ClickHouse

                div.hide-xs(flex="45")
                    .work__header__image
                        img(src="/images/runative_imac.png" alt="")

            .devices
                .devices__item.devices__item_macbook
                    img(src="/images/runative_macbook.png" alt="")
                .devices__item.devices__item_ipad
                    img(src="/images/runative_ipad.png" alt="")
                .devices__item.devices__item_iphone
                    img(src="/images/runative_iphone.png" alt="")

        div.screens-wrap
            div.screens.clearfix
                div.screens__item(
                ng-repeat="item in vc.screens track by $index"
                ng-click="vc.showScreen($event, $index)"
                )
                    img.screens__item__img.md-whiteframe-3dp(ng-src="{{ item }}")

        scroll-top