.t-row(layout="row")
    .t-row-in(flex="30" layout="row" layout-align="start center") {{ vc.title }}
    .t-row-in(flex layout="row" layout-align="start center")
        block-edit(model="vc.model" toggle="vc.toggle" placeholder="vc.placeholder")