.content-head
    .main-title Users
    current-user

.content-body
    .flex-in(style="margin-bottom: 20px;")
        md-button.m-button.md-raised(ng-click="uc.registerUserModal($event)")
            span INVITE USER

    .resume-table__wrapper
        .resume-table._centered(st-safe-src="uc.userList" ng-if="uc.isAdmin")
            .resume-table__head
                .resume-table__row
                    .resume-table__cell
                        .profile-wrapper
                            span.profile-title Profile
                    .resume-table__cell
                        .profile-wrapper
                            span.profile-title Email
                    .resume-table__cell
                        .profile-wrapper
                            span.profile-title Role

            .resume-table__body
                .resume-table__row(ng-repeat="row in uc.userList")
                    .resume-table__cell._clickable
                        a(ui-sref="app.users.current({id:row._id})" layout="row" layout-align="start center")
                            .resume-avatar._small
                                img(ng-src="{{row.photo || '/images/empty_photo.svg'}}")
                            span.resume-name {{::row.name}}

                    .resume-table__cell
                        .info-block
                            .candidate-info
                                span.full-name {{::row.email}}

                    .resume-table__cell._clickable
                        .info-block
                            .candidate-info
                                span.full-name {{::row.role}}


    p(ng-if="!uc.isAdmin" style="margin-top: 20px;margin-left: 20px") You are not permitted to view users.