@import '../../style/config.styl'

.menu-but
    position absolute
    top 30px
    right 30px
    z-index 76
    @media screen and (max-width: 411px)
        top: 5px
        right: 5px

.menu-wrap
    padding 200px 0 0 0

@keyframes showitem
    from
        transform translateY(150%)
    80%
        transform: translateY(-20%)
    to
        transform: translateY(0)

.menu-item
    text-align center
    height 50px
    cursor pointer
    overflow hidden
    &__title
        color #ffffff!important
        text-transform uppercase
        font-weight 300
        font-size 20px
        font-family HelveticaNeueRoman, Arial, sans-serif
    // animation showitem .5s ease-in-out
    &:hover
    // border 1px solid #31292a
        .menu-item__title
            color $red!important

.md-closed
    .menu-item__title
        color #000000

md-sidenav
    &.menu
        background rgba(0,0,0,0.6)
        md-content
            background none

/* ================= HAMBURGER MENU ICON ================== */
.isg-hamburger
    overflow hidden
    margin 0
    padding 0
    width 86px
    height 86px
    font-size 0
    text-indent -9999px
    appearance none
    box-shadow none
    border-radius none
    border none
    cursor pointer
    &:focus
        outline none
    span
        display block
        position absolute
        top 34px
        left 18px
        right 18px
        height 4px
        background #ffffff
        border-radius 2px
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);

.isg-hamburger span::before,
.isg-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    content: "";
    background: #ffffff;
    border-radius: 2px;
}
.isg-hamburger span::before {
    top: -15px;
}
.isg-hamburger span::after {
    bottom: -15px;
}
// .isg-hamburger span {
//     transition: all 0s 0.3s;
// }
.isg-hamburger span::before,
.isg-hamburger span::after {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    transition-duration: 0.2s, 0.2s;
// transition-delay: 0.3s, 0s;
}
.isg-hamburger span::before {
    transition-property: top, transform;
}
.isg-hamburger span::after {
    transition-property: bottom, transform;
}
.isg-hamburger.is-active span {
    background: none;
    box-shadow: none;
}
.isg-hamburger.is-active span::before {
    top: 0;
    transform: rotate(45deg);
    box-shadow: none;
}
.isg-hamburger.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
    box-shadow: none;
}
/* =============== eof HAMBURGER MENU ICON ================ */

