.state-wrap
    .page-name Portfolio
    .portfolio.clearfix

        .float-block(ng-repeat="project in vc.projects | orderBy: 'order'")
            .portfolio__item.md-whiteframe-3dp(ui-sref="{{project.sref}}")
                .dimmer
                .eye(icon-eye)
                img.portfolio__item__img(ng-src="{{project.imgUrl}}" alt="")
                .portfolio__item__desc(ng-if="project.desc")
                    .sota
                        div(layout="row")
                            div(flex="none" layout="row" layout-align="start center")
                                .sota__logo(ng-if="project.desc.logo")
                                    img(ng-src="{{project.desc.logo}}" alt="")
                            div(flex layout="row" layout-align="start center")
                                .flex-in
                                    .sota__title
                                        .sota__title__head {{ project.desc.head}}
                                        .sota__title__small {{ project.desc.title }}
