md-dialog(aria-label="Info")

    md-toolbar
        .md-toolbar-tools
            h2 Public share links
            span(flex)
            icon-close.m-close(ng-click="vc.cancel()")

    md-dialog-content
        .md-dialog-content
            .shared-link-block(ng-if="vc.links && !vc.links.length" style="min-width: 200px;") No links shared
            .shared-link-block(ng-repeat="item in vc.links")
                div
                    .flex-in
                        md-tooltip(md-direction="top" ng-if="item.filter && item.filter.project") {{ item.filter.project }}
                        .shared-link-wrap(ng-class="{'flash': $first && !vc.inited}") {{ vc.sampleUrl + item.token }}

                div(layout="row")
                    div(flex="20")
                        .flex-in.shared-win-link(
                        ngclipboard
                        data-clipboard-text="{{ vc.sampleUrl + item.token }}"
                        ngclipboard-success="vc.onCopySuccess();"
                        ngclipboard-error="vc.onCopyError();"
                        )
                            icon-diskette.shared-link-controls-icon
                            .shared-link-controls-title Copy
                    div(flex="20")
                        .flex-in.shared-win-link(ng-click="vc.deleteLink(item._id)")
                            icon-garbage.shared-link-controls-icon
                            .shared-link-controls-title Delete
                    div(flex="60" layout="row" layout-align="end")
                        .flex-in.shared-win-date Created: {{ item.createdAt | date:'MM.dd.yyyy h:mma' }}

    md-dialog-actions.mdd-actions(layout="row")
        .total-links(flex) Shared {{ vc.links.length }} of {{ vc.total }} links
        md-button.m-button(ng-click="vc.cancel()") DONE