@import '../../styles/config.styl'

.work__header
	margin-bottom 40px
	&__image
		padding-top 20px
		img
			width 80%
			
.screens-wrap
	box-sizing border-box
	// overflow hidden
			
.screens
	margin-left -20px
	margin-right -20px
	&__item
		box-sizing border-box
		padding 20px
		// border 1px solid red
		width 50%
		float left
		&__img
			width 100%
			border-radius 2px
			&:hover
				cursor pointer
