.bg-blur
    .state-wrap
        span.back-but(icon-down ui-sref="root.portfolio")
        div(ng-if="vc.showbut")
            span.arr-down(icon-down)

        div.work__header

            div(layout="row")

                div(flex="55")
                    .page-name.page-name_nom Potolok

                    a.project-link.project-link_dist(href="http://всепотолок.рф" target="_blank") www.всепотолок.рф

                    .text-block.text-block_right.text-block_bottom
                        .text-block__desc
                            | Responsive landing page which includes a cost calculator

                    .text-block.text-block_right.text-block_bottom
                        .text-block__title Role
                        .text-block__desc Web developer / designer

                    .text-block.text-block_right.text-block_last
                        .text-block__title Technologies
                        .text-block__desc
                            div Javascript / Pug / SCSS / Webpack

                    .devices
                        .devices__item.devices__item_macbook
                            img(src="/images/potolok_macbook.png" alt="")
                        .devices__item.devices__item_ipad
                            img(src="/images/potolok_ipad.png" alt="")
                        .devices__item.devices__item_iphone
                            img(src="/images/potolok_iphone.png" alt="")

                div(flex="45")
                    .work__header__image
                        img(src="/images/potolok_imac.png" alt="")

        div.screens-wrap
            img.large-img.md-whiteframe-3dp(src="/images/potolok/potolok1.jpg")

        scroll-top