div(style="overflow: auto; width: 100%;")
    int-head(candidate="vc.candidate" user="vc.currentUser" toggle="vc.edit" card="vc.card" users="vc.users")

    .int-tabs
        dev-tabs(candidate="vc.candidate")

    int-row-head(title="'Java'" type="'mark'")
    int-row-mark(title="'Collections'" model="vc.card.collections" toggle="vc.edit")
    int-row-mark(title="'GC'" model="vc.card.gc" toggle="vc.edit")
    int-row-mark(title="'Interfaces'" model="vc.card.interfaces" toggle="vc.edit")

    int-row-head(title="'Android SDK'" type="'mark'")
    int-row-mark(title="'Layouts'" model="vc.card.layouts" toggle="vc.edit")
    int-row-mark(title="'Components'" model="vc.card.components" toggle="vc.edit")
    int-row-mark(title="'Intents'" model="vc.card.intents" toggle="vc.edit")
    int-row-mark(title="'Service vs IntentService'" model="vc.card.service" toggle="vc.edit")
    int-row-mark(title="'Material Design'" model="vc.card.material" toggle="vc.edit")
    int-row-mark(title="'Activity vs Fragment'" model="vc.card.activityFragment" toggle="vc.edit")
    int-row-mark(title="'Android Manifest'" model="vc.card.androidManifest" toggle="vc.edit")
    int-row-mark(title="'SQLite'" model="vc.card.sqlite" toggle="vc.edit")
    int-row-mark(title="'Image Rendering'" model="vc.card.imageRendering" toggle="vc.edit")
    int-row-mark(title="'Sound'" model="vc.card.sound" toggle="vc.edit")
    int-row-mark(title="'Sensors'" model="vc.card.sensors" toggle="vc.edit")

    int-row-head(title="'Libraries, Technologies'" type="'mark'")
    int-row-mark(title="'Networking'" model="vc.card.networking" toggle="vc.edit")
    int-row-mark(title="'RxJava'" model="vc.card.rxJava" toggle="vc.edit")
    int-row-mark(title="'ORM/DAO'" model="vc.card.ormDao" toggle="vc.edit")
    int-row-mark(title="'DI'" model="vc.card.di" toggle="vc.edit")
    int-row-mark(title="'Kotlin'" model="vc.card.kotlin" toggle="vc.edit")

    int-row-head(title="'Infrastructure'" type="'mark'")
    int-row-mark(title="'DDMS'" model="vc.card.ddms" toggle="vc.edit")
    int-row-mark(title="'Android Studio'" model="vc.card.androidStudio" toggle="vc.edit")
    int-row-mark(title="'Git'" model="vc.card.git" toggle="vc.edit")
    int-row-mark(title="'CI'" model="vc.card.ci" toggle="vc.edit")
    int-row-mark(title="'Issue Trackers'" model="vc.card.issueTrackers" toggle="vc.edit")

    int-row-head(title="'Architecture, Patterns'" type="'mark'")
    int-row-mark(title="'VIPER'" model="vc.card.viper" toggle="vc.edit")
    int-row-mark(title="'MVP'" model="vc.card.mvp" toggle="vc.edit")
    int-row-mark(title="'Patterns'" model="vc.card.patterns" toggle="vc.edit")

    int-row-head(title="'Testing'" type="'mark'")
    int-row-mark(title="'Espresso, Robolectric'" model="vc.card.espressoRoboletric" toggle="vc.edit")
    int-row-mark(title="'JUnit'" model="vc.card.junit" toggle="vc.edit")

    .f-buttons-wrap(layout="row" layout-align="end center")
        button.btn.btn-primary.m-btn(ng-if="vc.edit" ng-click="vc.saveCard();") SAVE