div(style="overflow: auto; width: 100%;")
    int-head(candidate="vc.candidate" user="vc.currentUser" toggle="vc.edit" card="vc.card" users="vc.users")

    .int-tabs
        dev-tabs(candidate="vc.candidate")

    int-row-head(title="'Core'" type="'mark'")
    int-row-mark(title="'Selenium Webdriver'" model="vc.card.seleniumWebdriver" toggle="vc.edit")
    int-row-mark(title="'Selenium Grid'" model="vc.card.seleniumGrid" toggle="vc.edit")
    int-row-mark(title="'Page Objects'" model="vc.card.pageObjects" toggle="vc.edit")
    int-row-mark(title="'Selectors'" model="vc.card.selectors" toggle="vc.edit")
    int-row-mark(title="'Basic HTML/CSS'" model="vc.card.basicHtmlCss" toggle="vc.edit")
    int-row-mark(title="'Data driven tests'" model="vc.card.dataDrivenTests" toggle="vc.edit")
    int-row-mark(title="'TestCase design'" model="vc.card.testCaseDesign" toggle="vc.edit")
    int-row-mark(title="'Requirements management'" model="vc.card.reqManagement" toggle="vc.edit")

    int-row-head(title="'Tools/Frameworks'" type="'mark'")
    int-row-mark(title="'xUnit'" model="vc.card.xUnit" toggle="vc.edit")
    int-row-mark(title="'TestNG'" model="vc.card.testNg" toggle="vc.edit")
    int-row-mark(title="'Appium'" model="vc.card.appium" toggle="vc.edit")
    int-row-mark(title="'JMeter'" model="vc.card.jmeter" toggle="vc.edit")
    int-row-mark(title="'Gatling'" model="vc.card.gatling" toggle="vc.edit")
    int-row-mark(title="'SoapUI'" model="vc.card.soapUi" toggle="vc.edit")

    .f-buttons-wrap(layout="row" layout-align="end center")
        button.btn.btn-primary.m-btn(ng-if="vc.edit" ng-click="vc.saveCard();") SAVE