div(style="overflow: auto; width: 100%;")
    int-head(candidate="vc.candidate" user="vc.currentUser" toggle="vc.edit" card="vc.card" users="vc.users")

    .int-tabs
        dev-tabs(candidate="vc.candidate")

    int-row-head(title="'Core'" type="'mark'")
    int-row-mark(title="'Obj-C'" model="vc.card.objC" toggle="vc.edit")
    int-row-mark(title="'Swift'" model="vc.card.swift" toggle="vc.edit")
    int-row-mark(title="'Swift - Obj-C interop'" model="vc.card.swiftObjCInterop" toggle="vc.edit")
    int-row-mark(title="'Data Structures'" model="vc.card.dataStructures" toggle="vc.edit")
    int-row-mark(title="'Sequences'" model="vc.card.sequences" toggle="vc.edit")
    int-row-mark(title="'Functional Programming'" model="vc.card.fp" toggle="vc.edit")
    int-row-mark(title="'Memory Management'" model="vc.card.memoryManagement" toggle="vc.edit")
    int-row-mark(title="'Multithreading / Concurency'" model="vc.card.mtConcurrency" toggle="vc.edit")
    int-row-mark(title="'Architectual patterns applied to mobile dev'" model="vc.card.arcPatternsForMobile" toggle="vc.edit")
    int-row-mark(title="'App Security'" model="vc.card.appSecurity" toggle="vc.edit")
    int-row-mark(title="'App Extensions'" model="vc.card.appExtensions" toggle="vc.edit")

    int-row-head(title="'Frameworks'" type="'mark'")
    int-row-mark(title="'Foundation'" model="vc.card.foundation" toggle="vc.edit")
    int-row-mark(title="'UIKit'" model="vc.card.uikit" toggle="vc.edit")
    int-row-mark(title="'watchOS'" model="vc.card.watchOs" toggle="vc.edit")
    int-row-mark(title="'Graphics / Animations'" model="vc.card.graphicsAnimations" toggle="vc.edit")
    int-row-mark(title="'Core Data'" model="vc.card.coreData" toggle="vc.edit")
    int-row-mark(title="'Audio / Video Processing'" model="vc.card.audioVideoProcessing" toggle="vc.edit")
    int-row-mark(title="'Location / Maps'" model="vc.card.locationMaps" toggle="vc.edit")
    int-row-mark(title="'Metal / OpenGL'" model="vc.card.metalOpenGl" toggle="vc.edit")
    int-row-mark(title="'XCTest'" model="vc.card.xcTest" toggle="vc.edit")
    int-row-mark(title="'tvOS'" model="vc.card.tvOs" toggle="vc.edit")

    int-row-head(title="'Tools'" type="'mark'")
    int-row-mark(title="'Xcode'" model="vc.card.xcode" toggle="vc.edit")
    int-row-mark(title="'Instruments'" model="vc.card.instruments" toggle="vc.edit")
    int-row-mark(title="'Dependency Management Tools'" model="vc.card.depManagementTools" toggle="vc.edit")

    int-row-head(title="'Libraries'" type="'mark'")
    int-row-mark(title="'Realm'" model="vc.card.realm" toggle="vc.edit")
    int-row-mark(title="'Common 3-party Pods'" model="vc.card.common3rdPartyPods" toggle="vc.edit")

    .f-buttons-wrap(layout="row" layout-align="end center")
        button.btn.btn-primary.m-btn(ng-if="vc.edit" ng-click="vc.saveCard();") SAVE