div(style="overflow: auto; width: 100%;")
    int-head(candidate="vc.candidate" user="vc.currentUser" toggle="vc.edit" card="vc.card" users="vc.users")

    .int-tabs
        dev-tabs(candidate="vc.candidate")

    int-row-head(title="'Common'" type="'mark'")
    int-row-mark(title="'Storage types'" model="vc.card.storageTypes" toggle="vc.edit")
    int-row-mark(title="'Normalization'" model="vc.card.normalization" toggle="vc.edit")
    int-row-mark(title="'Indexing'" model="vc.card.indexing" toggle="vc.edit")

    int-row-head(title="'Relational'" type="'mark'")
    int-row-mark(title="'PostgreSQL'" model="vc.card.postgres" toggle="vc.edit")
    int-row-mark(title="'MySQL'" model="vc.card.mysql" toggle="vc.edit")
    int-row-mark(title="'MS SQL'" model="vc.card.mssql" toggle="vc.edit")
    int-row-mark(title="'Oracle'" model="vc.card.oracle" toggle="vc.edit")
    int-row-mark(title="'SqLite'" model="vc.card.sqlite" toggle="vc.edit")

    int-row-head(title="'NoSQL'" type="'mark'")
    int-row-mark(title="'MongoDB'" model="vc.card.mongodb" toggle="vc.edit")
    int-row-mark(title="'Redis'" model="vc.card.redis" toggle="vc.edit")
    int-row-mark(title="'CouchDB'" model="vc.card.couchdb" toggle="vc.edit")
    int-row-mark(title="'Cassandra'" model="vc.card.cassandra" toggle="vc.edit")
    int-row-mark(title="'HBase'" model="vc.card.hbase" toggle="vc.edit")
    int-row-mark(title="'ElasticSearch'" model="vc.card.elasticsearch" toggle="vc.edit")
    int-row-mark(title="'Neo4j'" model="vc.card.neo4j" toggle="vc.edit")

    .f-buttons-wrap(layout="row" layout-align="end center")
        button.btn.btn-primary.m-btn(ng-if="vc.edit" ng-click="vc.saveCard();") SAVE