div(style="overflow: auto; width: 100%;")
    int-head(candidate="vc.candidate" user="vc.currentUser" toggle="vc.edit" card="vc.card" users="vc.users")

    .int-tabs
        dev-tabs(candidate="vc.candidate")

    int-row-head(title="'Frontend'" type="'mark'")
    int-row-mark(title="'ES5 / ES2015 / ES2017'" model="vc.card.ecmascript" toggle="vc.edit")
    int-row-mark(title="'HTML 4;5 / XHTML 1'" model="vc.card.html" toggle="vc.edit")
    int-row-mark(title="'CSS / Preprocessors'" model="vc.card.css" toggle="vc.edit")
    int-row-mark(title="'Networking'" model="vc.card.networking" toggle="vc.edit")
    int-row-mark(title="'RPC / REST'" model="vc.card.rpcRest" toggle="vc.edit")

    int-row-head(title="'Libraries, frameworks'" type="'mark'")
    int-row-mark(title="'Angular'" model="vc.card.angular" toggle="vc.edit")
    int-row-mark(title="'Backbone'" model="vc.card.backbone" toggle="vc.edit")
    int-row-mark(title="'Ember'" model="vc.card.ember" toggle="vc.edit")
    int-row-mark(title="'Phonegap / Cordova'" model="vc.card.phonegapCordova" toggle="vc.edit")
    int-row-mark(title="'jQuery / Prototype'" model="vc.card.jqueryPrototype" toggle="vc.edit")
    int-row-mark(title="'Ext.JS'" model="vc.card.extJs" toggle="vc.edit")
    int-row-mark(title="'Meteor'" model="vc.card.meteor" toggle="vc.edit")
    int-row-mark(title="'Angular 2'" model="vc.card.angular2" toggle="vc.edit")

    int-row-head(title="'Backend'" type="'mark'")
    int-row-mark(title="'Node JS'" model="vc.card.nodejs" toggle="vc.edit")
    int-row-mark(title="'PHP'" model="vc.card.php" toggle="vc.edit")
    int-row-mark(title="'Ruby'" model="vc.card.ruby" toggle="vc.edit")

    int-row-head(title="'CMS / CMF'" type="'mark'")
    int-row-mark(title="'WordPress'" model="vc.card.wordpress" toggle="vc.edit")
    int-row-mark(title="'Symphony'" model="vc.card.symphony" toggle="vc.edit")
    int-row-mark(title="'Drupal'" model="vc.card.drupal" toggle="vc.edit")
    int-row-mark(title="'Express'" model="vc.card.express" toggle="vc.edit")
    int-row-mark(title="'Ghost'" model="vc.card.ghost" toggle="vc.edit")
    int-row-mark(title="'SailJS'" model="vc.card.sailJs" toggle="vc.edit")
    int-row-mark(title="'Hexo'" model="vc.card.hexo" toggle="vc.edit")
    int-row-mark(title="'Calipso'" model="vc.card.calipso" toggle="vc.edit")

    int-row-head(title="'Tools'" type="'mark'")
    int-row-mark(title="'Grunt / Gulp / Webpack'" model="vc.card.gruntGulpWebpack" toggle="vc.edit")
    int-row-mark(title="'Babel / Browserify'" model="vc.card.babelBrowserify" toggle="vc.edit")
    int-row-mark(title="'Harp / Forever / pm2 / Strongloop'" model="vc.card.harpForeverPm2Strongloop" toggle="vc.edit")

    .f-buttons-wrap(layout="row" layout-align="end center")
        button.btn.btn-primary.m-btn(ng-if="vc.edit" ng-click="vc.saveCard();") SAVE