.filters-wrap(ng-show="vc.visible" ng-cloak ng-class="{ 'nop': vc.guest }")
    // Project
    .filter-block
        .flex-in(ng-if="!vc.guest")
            md-select.bk-select.hover(ng-model="vc.filter.project" placeholder="Project" )
                md-option(value="{{ item.title }}" ng-repeat="item in vc.projects") {{ item.title }}
    // English level
    .filter-block
        .flex-in(ng-if="!vc.guest || vc.guest && vc.guest.filter && !vc.guest.filter.englishLevel")
            md-select.bk-select.hover(ng-model="vc.filter.englishLevel" placeholder="English level" )
                md-option(value="{{ item.priority }}" ng-repeat="item in vc.levels") {{ item.title }}
    // State
    .filter-block
        .flex-in(ng-if="!vc.guest || vc.guest && vc.guest.filter && !vc.guest.filter.state")
            md-select.bk-select.hover(ng-model="vc.filter.state" placeholder="State" )
                md-option(ng-value="item.priority" ng-repeat="item in vc.states") {{ item.title }}
    // Priority
    .filter-block
        .flex-in(ng-if="!vc.guest || vc.guest && vc.guest.filter && !vc.guest.filter.candidatePriority")
            md-select.bk-select.hover(ng-model="vc.filter.candidatePriority" placeholder="Priority")
                md-option(ng-value="item.priority" ng-repeat="item in vc.priorities") {{ item.title }}
    // Skills
    .filter-block
        .flex-in(ng-if="!vc.guest || vc.guest && vc.guest.filter && !vc.guest.filter.skill_set")
            md-select.bk-select.hover(ng-model="vc.filter.skill_set" multiple placeholder="Skills")
                md-option(ng-value="item.title" ng-repeat="item in vc.skills") {{ item.title }}
    // Range date picker
    .filter-block
        .flex-in(ng-if="!vc.guest")
            range-picker(model="vc.filter.createdAt")
    // Controls
    .filter-block-controls(ng-if="!(vc.guest && vc.guest.filter && vc.guest.filter.project && vc.guest.filter.englishLevel && vc.guest.filter.state && vc.guest.filter.candidatePriority && vc.guest.filter.skill_set)")
        .flex-in.dib
            md-button.m-button.m-button_green.md-raised.mr10(ng-click="vc.search()") Apply
        .flex-in.dib
            md-button.m-button-flat.m-button-flat_red(ng-click="vc.reset()") Reset

    .share-but-wrap(ng-if="vc.user.role == 'admin' || vc.user.role == 'hr' || vc.user.role == 'lead'")

        md-button.m-button.md-raised(ng-click="vc.saveFilters($event)")
            .m-button__icon(icon-share)
            span Share
