.bg-blur
    .state-wrap
        span.back-but(icon-down ui-sref="root.portfolio")
        div(ng-if="vc.showbut")
            span.arr-down(icon-down)

        div.work__header

            div(layout="column" layout-gt-xs="row")
                div(flex="55")
                    .page-name.page-name_nom Trafficstars

                    a.project-link.project-link_dist(href="http://trafficstars.com/" target="_blank") www.trafficstars.com

                    img.mob-view-imac(src="/images/trafficstars_imac.png" alt="")

                    .text-block.text-block_right.text-block_bottom
                        .text-block__desc TrafficStars is a powerful, self-serve Ad Network and Ad Exchange with OpenRTB capabilities, buying and selling traffic worldwide. Serving more than 2 billion ad impressions daily from high quality traffic sources, TrafficStars has become an industry leader in technology, monetisation and customer relations.

                    .text-block.text-block_right.text-block_bottom
                        .text-block__title When
                        .text-block__desc 2019

                    .text-block.text-block_right.text-block_bottom
                        .text-block__title Role
                        .text-block__desc Frontend developer

                    .text-block.text-block_right.text-block_last
                        .text-block__title Technologies
                        .text-block__desc
                            div Angular / Django / SCSS / Gulp / Grunt
                            div Python / Go / PostgreSQL / Docker / ClickHouse

                div.hide-xs(flex="45")
                    .work__header__image
                        img(src="/images/trafficstars_imac.png" alt="")

            .devices
                .devices__item.devices__item_macbook
                    img(src="/images/trafficstars_macbook.png" alt="")
                .devices__item.devices__item_ipad
                    img(src="/images/trafficstars_ipad.png" alt="")
                .devices__item.devices__item_iphone
                    img(src="/images/trafficstars_iphone.png" alt="")

        div.screens-wrap
            div.screens.clearfix
                div.screens__item(
                ng-repeat="item in vc.screens track by $index"
                ng-click="vc.showScreen($event, $index)"
                )
                    img.screens__item__img.md-whiteframe-3dp(ng-src="{{ item }}")

        scroll-top