.bg-blur
    .state-wrap
        span.back-but(icon-down ui-sref="root.portfolio")
        div(ng-if="vc.showbut")
            span.arr-down(icon-down)

        div.work__header

            div(layout="column" layout-gt-xs="row")
                div(flex="55")
                    .page-name.page-name_nom Trafficstars

                    a.project-link.project-link_dist(href="http://trafficstars.com/" target="_blank") www.trafficstars.com

                    img.mob-view-imac(src="/images/sota_imac.png" alt="")

                    .text-block.text-block_right.text-block_bottom
                        .text-block__desc SOTA system is a unified information-analytical design system that combines all the fragmented analytics and project documentation in a simple and clear display that is available from any device anywhere in the world. It also represents a single point of storage and display of documents on the project analytics through integration with accounting mechanisms, estimated and design programs.

                    .text-block.text-block_right.text-block_bottom
                        .text-block__title When
                        .text-block__desc 2015 - 2016

                    .text-block.text-block_right.text-block_bottom
                        .text-block__title Role
                        .text-block__desc Frontend developer

                    .text-block.text-block_right.text-block_last
                        .text-block__title Technologies
                        .text-block__desc
                            div AngularJS / Coffeescript / Jade / Stylus / Gulp
                            div NodeJS / SailsJS / SQL / Grunt / PostgreSQL / UnitTest

                div.hide-xs(flex="45")
                    .work__header__image
                        img(src="/images/sota_imac.png" alt="")

            .devices
                .devices__item.devices__item_macbook
                    img(src="/images/sota_macbook.png" alt="")
                .devices__item.devices__item_ipad
                    img(src="/images/sota_ipad.png" alt="")
                .devices__item.devices__item_iphone
                    img(src="/images/sota_iphone.png" alt="")

        div.screens-wrap
            div.screens.clearfix
                div.screens__item(
                ng-repeat="item in vc.screens track by $index"
                ng-click="vc.showScreen($event, $index)"
                )
                    img.screens__item__img.md-whiteframe-3dp(ng-src="{{ item }}")

        scroll-top