.bg-blur
    .state-wrap
        span.back-but(icon-down ui-sref="root.portfolio")

        div.work__header

            div(layout="row")

                div(flex="55")
                    .page-name.page-name_nom GALI HEALTH

                    a.project-link.project-link_dist(href="https://galihealth.com" target="_blank") www.galihealth.com

                    .text-block.text-block_right.text-block_bottom
                        .text-block__desc
                            | The client development of an administrative panel for Gali Health app -
                            | is an AI-powered personal assistant for patients with serious chronic diseases that
                            | helps them drastically improve quality of life by providing daily health monitoring,
                            | regular check-ups and counselling by the close-knit community of patients, medical
                            | doctors, and welfare coaches

                    .text-block.text-block_right.text-block_bottom
                        .text-block__title Role
                        .text-block__desc Frontend developer

                    .text-block.text-block_right.text-block_last
                        .text-block__title Technologies
                        .text-block__desc
                            div Vue.js / Vuex / SCSS / Webpack
                            div NodeJS

                div(flex="45")
                    .work__header__image
                        img(src="/images/gali_imac.png" alt="")

            .devices
                .devices__item.devices__item_macbook
                    img(src="/images/gali_macbook.png" alt="")
                .devices__item.devices__item_ipad
                    img(src="/images/gali_ipad.png" alt="")
                .devices__item.devices__item_iphone
                    img(src="/images/gali_iphone.png" alt="")