.bg-blur
    .state-wrap
        span.back-but(icon-down ui-sref="root.portfolio")
        div(ng-if="vc.showbut")
            span.arr-down(icon-down)

        div.work__header

            div(layout="row")

                div(flex="55")
                    .page-name.page-name_nom HR Portal

                    a.project-link.project-link_dist(href="https://hr.bekitzur.com" target="_blank") hr.bekitzur.com

                    .text-block.text-block_right.text-block_bottom
                        .text-block__desc
                            | Application for systematization and storage of the cv’s, job interviews results.
                            | It is possible to import a resume from headhunter.ru
                            | Integration with Amazon Web Services (S3)

                    .text-block.text-block_right.text-block_bottom
                        .text-block__title Role
                        .text-block__desc Fullstack developer

                    .text-block.text-block_right.text-block_last
                        .text-block__title Technologies
                        .text-block__desc
                            div AngularJS / Javascript / PUG / LESS / Webpack
                            div NodeJS / Express / MongoDB / Passport / AWS

                div(flex="45")
                    .work__header__image
                        img(src="/images/hrportal_imac.png" alt="")

            .devices
                .devices__item.devices__item_macbook
                    img(src="/images/hrportal_macbook.png" alt="")
                .devices__item.devices__item_ipad
                    img(src="/images/hrportal_ipad.png" alt="")
                .devices__item.devices__item_iphone
                    img(src="/images/hrportal_iphone.png" alt="")

        div.screens-wrap
            div.screens.clearfix
                div.screens__item(
                ng-repeat="item in vc.screens track by $index"
                ng-click="vc.showScreen($event, $index)"
                )
                    img.screens__item__img.md-whiteframe-3dp(ng-src="{{ item }}")

        scroll-top