.full-height(layout="row")
    div(flex="50" flex-offset="50" layout="row" layout-align="center center")
        .intro
            .logo-wrap
                .logo(icon-logo)
                .logo-shadow(icon-logo)
            .name Aleksey Kovalchuk
            .specialty web developer / designer
            .main-but
                md-button(ui-sref="root.portfolio") view portfolio


