.full-height.intro-wrap
    .intro-block-wrap
        .intro
            .logo-wrap
                .logo(icon-logo)
                .logo-shadow(icon-logo)
            .name Aleksey Kovalchuk
            .specialty web developer / designer
            .main-but
                md-button(ui-sref="root.portfolio") view portfolio


