.full-height.intro-wrap
    .intro-block-wrap
        .intro
            .logo-wrap
                .logo(icon-logo)
                .logo-shadow(icon-logo)
            .name Aleksey Kovalchuk
            .specialty web developer / designer
            .main-but
                md-button(ui-sref="root.portfolio") view portfolio

    // Preload images
    img(src="/images/bgclear.jpg" style="position: absolute; top: -1000px; left: -1000px; width: 0; height: 0; opacity: 0;")
    img(src="/images/contacts.jpg" style="position: absolute; top: -1000px; left: -1000px; width: 0; height: 0; opacity: 0;")
    img(src="/images/bgsota.jpg" style="position: absolute; top: -1000px; left: -1000px; width: 0; height: 0; opacity: 0;")
    img(src="/images/bgfitness.jpg" style="position: absolute; top: -1000px; left: -1000px; width: 0; height: 0; opacity: 0;")
    img(src="/images/bgutmc2.jpg" style="position: absolute; top: -1000px; left: -1000px; width: 0; height: 0; opacity: 0;")
    img(src="/images/bghr.jpg" style="position: absolute; top: -1000px; left: -1000px; width: 0; height: 0; opacity: 0;")
    img(src="/images/bggali.jpg" style="position: absolute; top: -1000px; left: -1000px; width: 0; height: 0; opacity: 0;")
    img(src="/images/bgzypmedia.jpg" style="position: absolute; top: -1000px; left: -1000px; width: 0; height: 0; opacity: 0;")
    img(src="/images/bgpotolok.jpg" style="position: absolute; top: -1000px; left: -1000px; width: 0; height: 0; opacity: 0;")
    img(src="/images/bgprokach.jpg" style="position: absolute; top: -1000px; left: -1000px; width: 0; height: 0; opacity: 0;")
    img(src="/images/bgtrafficstars.jpg" style="position: absolute; top: -1000px; left: -1000px; width: 0; height: 0; opacity: 0;")
    img(src="/images/bgrunative.jpg" style="position: absolute; top: -1000px; left: -1000px; width: 0; height: 0; opacity: 0;")
    img(src="/images/bgfundsource.jp" style="position: absolute; top: -1000px; left: -1000px; width: 0; height: 0; opacity: 0;")


