@import '../../style/config.styl'

.contact
    display block
    text-decoration none
    position relative
    // color #344e5a
    color #586971
    font-family HelveticaNeueLight, Helvetica, sans-serif
    font-size 20px
    padding 5px 5px 5px 50px
    margin-bottom 10px
    cursor pointer

    &:hover
        color $red
        .contact__icon
            fill $red

    &_phone
        font-size 19px

    &__icon
        position absolute
        left 0
        top 5px
        width 22px
        height 22px
        fill #586971

        &_phone
            width 24px
            height 24px

        &_skype
            width 24px
            height 24px

.contact-wrap
    padding-top: 60px
    margin-bottom 60px
    padding-left: 60%
    width: 100%;
    @media screen and (max-width: 700px)
        padding-left: 50%
    @media screen and (max-width: 556px)
        padding-left: 0
        width: 260px
        margin-left: auto
        margin-right: auto

    // iphone 5 portrait
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (device-aspect-ratio: 40/71)
        padding-top: 10px